

.dashBoardContainer {
    text-align: center;
    margin-top: 150px;
}
.itemsDash {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.ItemsD {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    h1 {
        font-size: 1em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }
    h3 {
        font-size: 1em;
        font-weight: bold;
    }
    p {
        font-size: 1em;
    }
    .ulItemsD {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        width: 100%;
        margin: auto;
        padding: 0px;
        li {
            font-size: 1em;
            font-weight: bold;
            margin: 5px;
            color: gray;
        }
    }
}

@media screen and (min-width: 768px) {
    .ItemsD {
        h1 {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 992px) {
    .ItemsD {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: calc(90% / 3);
        background-color: #f5f5f5;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        text-align: left;
        h1 {
            font-size: 1.5em;
            font-weight: bold;
        }
        h2 {
            font-size: 1.2em;
            font-weight: bold;
        }
        h3 {
            font-size: 1em;
            font-weight: bold;
        }
        p {
            font-size: 1em;
        }
        
    }
}