
.itemDetailContainer {
    margin: 100px 0px;
    padding: 20px;
    text-align: center;
    border-radius: 1em;
    .title {
        font-size: 1.5em;
    }
}
.containerDetail {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    img {
        width: 200px;
        height: 200px;
        margin: auto;
        object-fit: contain;
    }
    text-align: left;
    .span {
        font-size: 20px;
        font-weight: 600;
    }
    p {
        font-size: 15px;
        padding: 12px;
    }
    .link {
        text-align: center;
        margin-top: 60px;
        div {
            margin-bottom: 30px;
        }
    }
}

.itemCount {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        i {
            padding: 10px;
        }
    }
    div {
        width: 90%;
        margin: 10px auto;
        border-radius: 7px;
    }
}

@media screen and (min-width: 768px) {
    .itemDetailContainer {
        margin: 100px 0px;
        padding: 20px;
        text-align: center;
        border-radius: 1em;
        .title {
            font-size: 2em;
        }
    }
    .containerDetail {
        img {
            width: 300px;
            height: 300px;
        }
        .span {
            font-size: 25px;
            font-weight: 600;
        }
        .spanBlock {
            font-size: 25px;
            font-weight: 600;
            color: gray;
        }
        p {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 992px) {
    .itemDetailContainer {
        margin: 30px 30px;
        padding: 50px 50px;
    }
    .containerDetail {
        width: 60%;
        padding: 30px;
        flex-direction: row;
        img {
            width: 400px;
            height: 400px;
            margin-right: 50px;
        }
    }
}
