*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFE3FE;
}
.navContainer{
    background-color: #440A67;
    display: flex;
    justify-content: right;
    list-style-type: none;
}
.title{
    color:white;
    font-size:2.6vw;
    padding-top: 0.6vw;
    position: absolute;
    left: 10%;
    text-shadow:0 0 10px white, 0 0 40px white, 0 0 80px white;
    font-weight: bold;
}
.title1{
    color:#440A67;
    font-size:2.6vw;
    position: absolute;
    left:35%;
    text-shadow:0 0 10px white, 0 0 40px white, 0 0 80px white;
    font-weight: bold;
    margin-top: -7%;
}
.list{
    color: white;
    display: inline-flex;
    padding: 1.5vw 2vw;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
}
.list:hover{
    color:#da9ae7;
}
.carrito{
    margin-bottom: 6px;
    margin-right: 5px;
    margin-top: 3px;

}
.carrito button {
    cursor: pointer;
    width: 5vw;
    border-radius: 25%;
}
.count{
    position: absolute;
    left: 42vw;
    top: 53vw;
}
.count h4{
    color:#440A67;
    font-size: 1.2vw;
}
.count button{
    width: 9vw;
    background-color: transparent;
    color:#440A67;
    border: #440A67 0.1vw solid;
    border-radius: 4vw;
}
/*tarjetas*/
.tarjetas{
    display: inline-block;
    width: 22.7vw;
    height: 28vw;
    background-color: #B4AEE8;
    margin: 3vw;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.658);
    overflow: hidden;
    transition: all 0.25s;
    margin-left: 5vw
}
.tarjetas:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.imagen{
    width: 22.7vw;
    height: 15vw;
}
p{
    font-size: 2vw;
    margin: 0.8vw;
    color: #440A67;
    font-weight: bold;
    text-shadow:0 0 10px white, 0 0 40px white, 0 0 80px #440A67;
    text-align: center;
}
h2{
    color: #440A67;
    text-shadow:0 0 10px white, 0 0 40px white, 0 0 80px #440A67;
    text-align: center;
}
.boton{
    background-color: transparent;
    text-decoration: none;
    color: #440A67;
    font-weight: bold;
    text-align: center;
    border:2px solid #440A67;
    font-size: 1.5vw;
    padding: 0.3vw;
    margin-left: 8vw;
    position: relative;
    top:2vw;
}
.boton:hover{
    background-color: #c673fab0;
}
/*itemdetail*/
.card{
    display: inline-block;
    width: 40vw;
    height: 48vw;
    background-color:#B4AEE8 ;
    margin: 2vw;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.658);
    text-shadow:0 0 10px white, 0 0 40px white, 0 0 80px #440A67;
}
.card h6{
    font-size: 1vw;
    list-style-type: none;
    margin-right: 20vw;
    margin-top: 2vw;
}
.card input{
    font-size: 1vw;
    margin-right: 20vw;
    margin-top: 1.2vw;
}
.card p{
    position:absolute;
    left: 34vw;
    top: 53vw;
}
.card h5{
    font-size: 1vw;
    font-weight:bold;
    color:rgb(0, 0, 0);
    margin-top: 1.5vw;
}
.imagen1{
    width: 40vw;
    height: 25vw;
}
.tabla{
    width: 100%;
    background-color: #B4AEE8;
    margin-top: 5vh;
}
.tabla1{
    border-bottom: 0.2vw solid #440A67;
}
.imagen2{
    padding-left: 12vw;
    width: 22.7vw;
    height: 15vw;
}
.header{
    padding-right: 9vw;
}
.boton2{
    width: 17vw;
    height: 3vw;
    background-color: transparent;
    color:#440A67;
    border: #440A67 0.2vw solid;
    border-radius: 4vw;
    position: absolute;
    top: 25vw;
    left: 40%;
}
.central{
    text-align: center;
    margin: 5%;
}
.footer{
    width: 100%;
    margin-top: 450px;
    padding: 30px 0px 30px 0px;
    text-align: center;
    color: rgb(172, 164, 179);
    background-color: indigo;
}