

.checkoutContainer {
    width: 90%;
    margin: 150px auto;
    background-color: white;
    border-radius: 10px;
    color: black;
    div {
        h1 {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
        form {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
            div {
                .error-msg {
                    color: red;
                    font-size: 12px;
                    margin-top: 5px;
                }
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                label {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                input {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    padding: 0 10px;
                    font-size: 16px;
                    &:focus {
                        outline: none;
                        border: 1px solid #000;
                    }
                }
                button {
                    width: 104%;
                    margin: auto;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover {
                    }
                }
            }
        }
    }
}
.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    .checkoutContainer {
        width: 50%;
        margin: 150px auto;
        padding: 30px;
    }
}
